<header>
  <nav>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <ng-container *ngFor="let mainMenuItem of mainMenuItems">
            <li *ngIf="mainMenuItem.name === 'Kalkulatory'"
                class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDropdownMenuLink"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">
                {{mainMenuItem.name}}
              </a>
              <div class="dropdown-menu"
                   aria-labelledby="navbarDropdownMenuLink">
                <a *ngFor="let calcMenuItem of calcMenuItems"
                   class="dropdown-item"
                   [routerLink]="[calcMenuItem.link]">
                  {{calcMenuItem.name}}
                </a>
              </div>
            </li>
            <li *ngIf="mainMenuItem.name !== 'Kalkulatory'"
                class="nav-item">
              <a class="nav-link"
                 [routerLink]="[mainMenuItem.link]">
                {{mainMenuItem.name}}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
