<div class="panel">
    <h2 class="offset-1 offset-u-h2 offset-d-h2">Kalkulator MgSO4*7H2O</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="offset-1">
            <div class="form-row">
                <div class=" form-group col">
                    <label>Ile litrów wody netto w akwarium:</label>
                    <input class="form-control col-3 col-sm-3 col-md-3 col-lg-2 offset-1 first-input"
                        formControlName="aquaLiters" 
                        toolTip [text]="commonStringsService.aquaLiters" 
                        (input)="onInput()"/>
                </div>
                <div class=" form-group col">
                    <label>Ile gram MgSO4*7H2O:</label>
                    <input class="form-control col-3 col-sm-3 col-md-3 col-lg-2 offset-1" 
                    formControlName="mgso4g"
                    toolTip [text]="commonStringsService.saltGToolTip" 
                    (input)="onInput()"/>
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col" style="margin-bottom:0px;">
                    <label>Ile ml wody do sporządzenia nawozu:</label>
                    <input class="form-control col-3 col-sm-3 col-md-3 col-lg-2 offset-1"
                        formControlName="containerCapacity" 
                        toolTip [text]="commonStringsService.containerCapacity" 
                        (input)="onInput()"/>
                </div>
                <div class="col offset-1">
                    <button class="btn btn-info" 
                        type="submit" 
                        [disabled]="!formGroup.valid">
                        Oblicz
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="mgso4Result.solubility" class="text-center offset-d-h5 offset-u-h2 offset-1 col-10">
        Za mała ilość wody do rozpuszczenia soli. Aby rozpuścić <strong>{{formGroup.get('mgso4g').value}}</strong> g soli, potrzebne
        jest <strong>{{mgso4Result.solubility | round: 2}}</strong> ml wody demineralizowanej. W
        <strong>{{formGroup.get('containerCapacity').value}}</strong> ml wody można rozpuścić maksymalnie
        <strong>{{mgso4Result.solubilityInAmountWater | round: 2}}</strong> g soli.
    </div>
    <div *ngIf="mgso4Result.magnesiumContent" class="text-center offset-d-h7 offset-u-h2 offset-1 col-10">Po wymieszaniu
        <strong>{{formGroup.get('mgso4g').value}}</strong> g soli w <strong>{{formGroup.get('containerCapacity').value}}</strong> ml wody,
        jeden ml roztworu będzie zawierał <strong>{{mgso4Result.magnesiumContent | round: 2}}</strong> mg/l
        magnezu.</div>
    <div *ngIf="!mgso4Result.magnesiumContent" class="offset-d-h10"></div>
</div>