<div class="panel offset-d-h4">
  <h4 class="text-center offset-d-h2 offset-u-h2">Witamy w serwisie poświęconym nawożeniu solami mineralnymi w akwarium roślinnym. </h4>
  <article class="offset-1 col col-10">
    <p class="justify">
      Nawożenie solami mineralnymi jest alternatywą dla tradycyjnych gotowych nawozów akwariowych, produkowanych przez znane firmy.
    </p>
    <p class="justify">
      Nawozy z soli mineralnych możemy sporządzać samodzilnie. Dzięki takiemu podejściu możemy skomponować nawóz spęłniający specyficzne oczekiwania naszego własnego zbiornika, w przeciwieństwie do stardowego komercyjnego nawozu, próbującego zaspokoić potrzeby wszystkich akwariów.
    </p>
    <p class="justify">
      Komponowanie własnych nawozów jest znacznie tańsze niż kupowanie gotowych.
    </p>
    <p class="justify">
      Na początku jednak musimy zaopatrzeć się kilka akcesoriów, niezbędnyh do tworzenia własnego nawozu. Potrzebne nam są:
    </p>
    <ul>
      <li>waga jubilerska</li>
      <li>sole mineralne</li>
      <li>woda demineralizowana</li>
      <li>pojemnik na nawóz (może być zwykły słoik)</li>
    </ul>
    <p class="justify"> w zależnoćci od tego czy chcemy mieć w jednym pojemniku nawóz zawierający wszystkie składniki niezbędne dla naszego akwarium, czy dla każdego składnika będziemy komponować nawóz w osobnych pojemnikach, wybieramy inny kalkulator z menu głównego na górze:</p>
    <ul class="justify">
      <li>
        <strong>Ekspresowy:</strong> kalkulator do sporządzania nawozów każdego w osobnym pojemniku. Po podaniu dwóch parametrów: wielkości akwarum i pojemności pojemnika na nawóz, kalkulator, obliczy ile gram danej soli należy wsypać do danego pojemnika z wodą demineralizowaną. Wynikiem będzie ile miligramów na litr danego składnika będzie zawierał jeden mililitr naszego nawozu. Kalkulator liczy dwie mikstury:
        <ul>
          <li>maksymalna ilość soli jakią możemy wsypać do danej ilości wody</li>
          <li>optymalna ilość soli jaką wsypać do wybranej ilości wody aby uzyskać w miarę możliwości pełną lub łatwą do dalszej kalkulacji liczbę miligramów na litr danego składnika w jednym mililitrze nawozu</li>
        </ul>
      </li>
      <li>
        <strong>Makro:</strong> Kalkulator do skomponowania nawozu z wszystkich wymaganych składników w jednym pojemniku
      </li>
      <li>
        <strong>CO2:</strong> Tu możemy obliczyć jakie stężenie CO2 będziemy uzyskamy przy danej twardości wody i danym pH wody
      </li>
      <li>
        Kolejne kalkulatory pozwalają policzyć nawozy osobno dla każdej soli mineralnej:
        <ul>
          <li><strong>KNO3</strong> azot i potas</li>
          <li><strong>KH2PO4</strong> fosfor i potas</li>
          <li><strong>K2SO4</strong> potas</li>
          <li><strong>MgSO4*7H2O</strong> magnez</li>
        </ul>
      </li>
    </ul>
    <p class="offset-d-h1 justify">
      Zachęcamy do pisania swoich uwag, sugestii odnośnie serwisu, jak również pytań odnośnie niejasności co do nawożenia opisanych tutaj, korzystając z formularza kontaktowego zawartego w meny na górze strony.
    </p>
    <h5 class="text-center offset-u-h2">Życzenymy bujnej roślinności w Waszych akwariach, jak najmniejszej ilości glonów oraz przyjemnego korzystania z serwisu i pozdrawiamy.</h5>
  </article>
</div>
