<div class="panel offset-d-h3">
    <h2 class="offset-1 offset-u-h2 offset-d-h2">Ekpresowy Kalkulator soli mineralnych</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-row align-items-end">
            <div class="form-group col offset-1 col-3" style="margin-bottom: 0;">
                <label>Ilość wody netto w akwarium:</label>
                <input class="form-control col-6 col-sm-7 col-md-4 col-lg-3 offset-1 first-input"
                    formControlName="aquaLiters" 
                    toolTip [text]="commonStringsService.aquaLiters"/>
            </div>
            <div class="form-group col col-3 " style="margin-bottom: 0;">
                <label>Ilość wody w jakiej będzie sporządzany nawóz:</label>
                <input class="form-control col-6 col-sm-7 col-md-4 col-lg-3 offset-1" 
                    formControlName="containerCapacity"
                    toolTip [text]="commonStringsService.containerCapacity"/>
            </div>
            <div class="col col-2"><button type="submit" class="btn btn-info" [disabled]="!formGroup.valid">Oblicz</button></div>
            <a class="btn btn-secondary" clickInfo [text]="expressInfo">Instrukcja</a>
        </div>
    </form>
    <div *ngIf="expressResult?.maxKNO3g"
        class="offset-u-h2 col-10 col-sm-10 col-md-10 offset-1 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
        <h5>Maksymalne stężenia nawozów w jednym mililitrze:</h5>
        <ul>
            <li>KNO3: po wymieszaniu <strong>{{expressResult.maxKNO3g}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong> ml
                wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.maxConcentrationNinKNO3MgPerLiter | round: 2}}</strong> mg/l azotu
                i <strong>{{expressResult.maxConcentrationKinKNO3MgPerLiter | round: 2}}</strong> mg/l potasu</li>
            <li>KH2PO4: po wymieszaniu <strong>{{expressResult.maxKH2PO4g}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong>
                ml wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.maxConcentrationPinKH2PO4MgPerLiter | round: 2}}</strong> mg/l
                fosforu i <strong>{{expressResult.maxConcentrationKinKH2PO4MgPerLiter | round: 2}}</strong> mg/l potasu</li>
            <li>K2SO4: po wymieszaniu <strong>{{expressResult.maxK2SO4g}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong> ml
                wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.optimalConcentrationKinK2SO4MgPerLiter | round: 2}}</strong> mg/l
                potasu</li>
            <li>MgSO47H2O: po wymieszaniu <strong>{{expressResult.maxMgSO4g}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong>
                ml wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.maxConcentrationMginMgSO4MgPerLiter | round: 2}}</strong> mg/l
                magnezu</li>
        </ul>
        <h5>Optymalne stężenia nawozów w jednym mililitrze:</h5>
        <ul>
            <li>KNO3: po wymieszaniu <strong>{{expressResult.optimalKNO3g | round: 2}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong>
                ml wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.optimalConcentrationNinKNO3MgPerLiter | round: 2}}</strong>
                mg/l azotu i <strong>{{expressResult.optimalConcentrationKinKNO3MgPerLiter | round: 2}}</strong> mg/l potasu</li>
            <li>KH2PO4: po wymieszaniu <strong>{{expressResult.optimalKH2PO4g | round: 2}}</strong> g soli w
                <strong>{{expressResult.containerCapacity}}</strong> ml wody, 1 ml nawozu będzie miał stężenie
                <strong>{{expressResult.optimalConcentrationPinKH2PO4MgPerLiter | round: 2}}</strong> mg/l fosforu i
                <strong>{{expressResult.optimalConcentrationKinKH2PO4MgPerLiter | round: 2}}</strong> mg/l potasu</li>
            <li>K2SO4: po wymieszaniu <strong>{{expressResult.optimalK2SO4g | round: 2}}</strong> g soli w <strong>{{expressResult.containerCapacity}}</strong>
                ml wody, 1 ml nawozu będzie miał stężenie <strong>{{expressResult.optimalConcentrationKinK2SO4MgPerLiter | round: 2}}</strong>
                mg/l potasu</li>
            <li>MgSO47H2O: po wymieszaniu <strong>{{expressResult.optimalMgSO4g | round: 2}}</strong> g soli w
                <strong>{{expressResult.containerCapacity}}</strong> ml wody, 1 ml nawozu będzie miał stężenie
                <strong>{{expressResult.optimalConcentrationMginMgSO4MgPerLiter | round: 2}}</strong> mg/l magnezu</li>
        </ul>
    </div>
    <div *ngIf="!expressResult?.maxKNO3g" class="offset-d-h22"></div>
</div>